<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362715560263-q95glhl2v9m4s5u5t3c8qqvfb4k5vdgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362715560263-q95glhl2v9m4s5u5t3c8qqvfb4k5vdgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362715560263-vvrluf04pfu4t2ci64f4dhkfict6f1k0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkgLihz6GdpJNsq0xYMFlNU_n47N2Yu_M</string>
	<key>GCM_SENDER_ID</key>
	<string>362715560263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betterday</string>
	<key>PROJECT_ID</key>
	<string>betterdaychatfunc-c49d0</string>
	<key>STORAGE_BUCKET</key>
	<string>betterdaychatfunc-c49d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362715560263:ios:87df47aef03d5f7f62b462</string>
</dict>
</plist>